sudo: required
dist: trusty

language: cpp

compiler: gcc

before_install:
- sudo apt-get update -qq

install:
- sudo apt-get install -y lua5.1 lua5.2 luajit liblua5.1-0-dev libluajit-5.1-dev liblua5.2-dev

before_script:
- mkdir build
- cd build
- cmake -DCMAKE_BUILD_TYPE=Release -DLUA51=TRUE ..

script: make

notifications:
  irc: "chat.freenode.net#lua-poco"
